<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/gh/april-projects/april-fuel-price-alert@latest/src/main/resources/static/css/styles.css" rel="stylesheet">
    <title></title>
</head>
<body>
<div class="background-container"></div>
<div class="content-container">
    <h1 th:text="${title}">十堰今日油价</h1>
    <p style="text-align: center;" th:text="|当日更新时间: ${#temporals.format(#temporals.createNow().plusHours(8), 'yyyy-MM-dd HH:mm:ss')} 单位:元/升|"></p>
    <table>
        <thead>
        <tr style="background-color: rgba(220,178,14,0.5);">
            <th>汽油型号</th>
            <th>油价</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${oilData}">
            <td th:text="${entry.key}">Type</td>
            <td th:text="${entry.value}">Price</td>
        </tr>
        </tbody>
    </table>
    <!-- 油价上涨信息-->
    <h3 style="text-align: center; color: #ffc12e;">油价信息</h3>
    <blockquote style="text-align: center;" th:utext="${#vars.oilPriceAdjust}">油价上涨信息</blockquote>
    <!--型号描述-->
    <h3 style="text-align: center; accent-color: #ffffff;">汽油型号说明</h3>
    <blockquote style="text-align: center;" th:utext="${#vars.oilDeScript.replaceAll(';', '</br></br>')}">汽油型号简介</blockquote>
</div>
</body>
</html>
